*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 800;
  }
  

main{
    height: calc(100vh - 75px);
    background-color: #141922;
    display: flex;
}

header{
    position: sticky;
    height: 75px;
    background-color: #080B12;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer{
    height: 75px;
    background-color: #282828;
}

#sidebar{
    height: 100%;
    width: 200px;
    background-color: #000000;
}

#content{
    width: calc(100% - 200px);
    overflow-y: auto;
}

.sidebar-content{
}

.logo-big{
    width: 75%;
}

.sidebar-icons{
    width: 12%;
}

.image-container {
    position: relative;
    display: inline-block; 
  }
  
  .centered-text {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
  }

  .centered-text-2 {
    position: absolute;
    top: 50%;
    left: 37%;
    transform: translate(-50%, -50%);
  }


/* utility */

.display-inline-block{
    display: inline-block;
}

/* padding */

.padding-15{
    padding: 15px;
}

.padding-t-b-10{
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding-l-r-35{
    padding-left: 35px;
    padding-right: 35px;
}

/* margini */

.margin-right-5{
    margin-right: 5px;
}

.margin-left-20{
    margin-left: 20px;
}

/* colori */

.text-color-white{
    color: white;
}

.text-color-grey{
    color: #797979;
}

/* bordi */

.border-white{
    border: solid 1px white;
}

.border-radius-20{
    border-radius: 20px;
}

/* font size */

.font-size-12{
    font-size: 12px;
}
